@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-text-size-adjust: 100%;
		box-sizing: border-box
	}

	*,::after,::before {
		box-sizing: inherit;
		border: 0 solid;
	}

	body {
		margin: 0
	}

	hr {
		height: 0;
		overflow: visible;
		color: inherit
	}

	b,strong {
		font-weight: bolder
	}

	code,kbd,pre,samp {
		font-family: monospace,monospace
	}

	abbr[title] {
		-webkit-text-decoration: underline dotted;
		text-decoration: underline dotted
	}

	sub,sup {
		line-height: 0;
		position: relative;
		top: .3em
	}

	sup {
		top: -.4em
	}

	table {
		text-indent: 0;
		border-color: inherit
	}

	audio,canvas,embed,iframe,img,object,svg,video {
		vertical-align: bottom
	}

	[hidden],source,template {
		display: none
	}

	canvas,img,svg,video {
		max-width: 100%;
		height: auto
	}

	legend {
		display: table;
		max-width: 100%;
		white-space: normal
	}

	summary {
		display: list-item
	}

	progress,sub,sup {
		vertical-align: baseline
	}

	button,input,optgroup,select,textarea {
		font-family: inherit;
		font-size: 100%;
		margin: 0
	}

	button {
		text-transform: none
	}

	[type=button],[type=reset],[type=submit],button {
		-webkit-appearance: button
	}

	[type=search] {
		-webkit-appearance: textfield;
		outline-offset: -2px
	}

	textarea {
		overflow: auto
	}

	::-moz-focus-inner {
		border: 0;
		padding: 0
	}

	:-moz-ui-invalid {
		box-shadow: none
	}

	::-webkit-inner-spin-button,::-webkit-outer-spin-button {
		height: auto
	}

	::-webkit-search-decoration {
		-webkit-appearance: none
	}

	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit
	}
}

@layer components {
	.btn {
		@apply transition-colors;

		display: inline-block;
		margin: 0;
		box-sizing: border-box;
		line-height: inherit;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		background: none;
		border: 0;
		cursor: pointer;
	}

	.btn--plus {
		width: 22px;
		height: 22px;
		background-color: transparent;
		position: relative;
	}

	.btn--plus::before,
	.btn--plus::after {
		@apply inset-0;

		position: absolute;
		margin: auto;
		background-color: currentColor;
		content: '';
	}

	.btn--plus::before {
		width: 15%;
		height: 100%;
	}

	.btn--plus::after {
		width: 100%;
		height: 15%;
	}

	.loader::after {
		@apply inset-0 w-16 h-16 border-t-8 border-l-4;

		position: absolute;
		margin: auto;
		border-radius: 50%;
		z-index: 1;
	}

	.loader::before {
		@apply inset-0;

		position: absolute;
		background: white;
		opacity: 60%;
		z-index: 1;
	}
}
